<section class="container-fluid">
    <h2>Most Recent</h2>
</section>

{{#each posts}}
<article>
    <hgroup>
        <h3>{{ title }}</h3>
        <p>Created by {{ user.username }} on {{format_date createdAt}}</p>
    </hgroup>
    <p>{{ content }}</p>

    <details>
        <summary role="button" class="outline">Comments</summary>
        <div class="grid">
            <section>
                {{!-- Comments here --}}
                <h4>Community responses</h4>
                {{#each comments}}
                <p><kbd>{{ content }}</kbd> <br>by {{ user.username }} on {{ format_date createdAt }}</p>
                {{else}}
                <p>No comments yet.</p>
                {{/each}}
            </section>
            <section>
                <h4>Any thoughts?</h4>
                <form class="commentForm" data-post-id="{{id}}">
                    <input type="hidden" name="post_id" value="{{id}}">
                    <input type="text" name="content" placeholder="Write a comment..." aria-label="Comment">
                    <input type="submit" value="Submit" class="contrast outline"/>
                </form>
            </section>
        </div>
    </details>
</article>
{{/each}}

<script src="/comment.js"></script>