    <article>
        <br>
        <section class="grid">
            <div style="text-align: center;">
                <h2>My Dashboard</h2>
                <img src="https://cataas.com/cat?type=small" alt="Surprise cat!" style="max-width: 400px; max-height: 400px; border-radius: 3%;" id="imgExt">
                <p style="font-style: italic;" aria-busy="true" id="buffer">Now with (cute) cat photos!</p>
            </div>
            <div>
                <br>
                <h4>Username:</h4><p>@{{ username }}</p>
                <h4>Email:</h4><p>{{ email }}</p>
                <h4>No. of Posts:</h4><p>{{ total_posts }}</p>
            </div>
        </section>
        <hr>
        <section class="container-fluid">
            <details>
                <summary role="button" class="outline">Post an article</summary>
                <section class="container-fluid">
                    <h2>Post</h2>
                </section>
                <article>
                    <form>
                        <input type="text" id="title" name="title" placeholder="Title" aria-label="Text">
                        <textarea name="content" id="content" placeholder="Write about something..." aria-label="Article content"></textarea>
                        <button type="submit" id="postButton" class="contrast outline">Submit</button>
                    </form>
                </article>
            </details>
        </section>

        <section class="container-fluid">
            <details>
                <summary role="button" class="outline">My articles</summary>
                <h2>My Posts</h2>
                {{#if posts}}
                    {{#each posts}}
                        <article>
                            <h3>{{title}}</h3>
                            <p>{{content}}</p>
                            <small>Posted on: {{format_date createdAt}}</small>
                            <hr>
                            {{!-- To edit the post --}}
                            <small><a href="#" data-post-id="{{id}}" class="post-edit">Edit</a></small>
                            <div style="display:inline-block;"> | </div>
                            {{!-- To delete the post --}}
                            <small><a href="#" data-post-id="{{id}}" class="post-delete">Delete</a></small>
                        </article>
                        <hr>
                    {{/each}}
                    {{> modal}}
                {{else}}
                    <p>No posts yet. Start by creating one above!</p>
                {{/if}}
            </details>
        </section> 
    </article>

    <script src="/post.js"></script>
    <script src="/dashboard.js"></script>
